<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateTvShows</title>
</head>

<body>
    <div>
        <h1>Add a New Show</h1>
        <p><a href="/">Go Back</a></p>
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/create_show" method="POST">
                {% csrf_token %}
                <div>
                    <p>Title</p>
                    <input type="text" id="title" name="title" />
                </div>
                <br>
                <div>
                    <p>Network</p>
                    <input type="text" id="network" name="network" />
                </div>
                <div>
                    <p>Release Date</p>
                    <input type="date" id="release_date" name="release_date" />
                </div>
                <br>
                <div>
                    <p>Description</p>
                    <br />
                    <textarea name="desc" rows="10" cols="30">What's this show all about?</textarea>
                </div>
                <button>Create!</button>
            </form>
        </div>
</body>

</html>