<!DOCTYPE html>

<html>
    <head>
    <title>Checkerboard_Assignment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sheet_checkerboard.css') }}">
    </head>
    <body>
    <h1>Hello World</h1>
    <table>
        <tr>
        <td class=".color1"></td>
        <td class=".color2"></td>
        <td class=".color1"></td>
        <td class=".color2"></td>
        <td class=".color1"></td>
        <td class=".color2"></td>
        <td class=".color1"></td>
        <td class=".color2"></td>
        </tr>
        <tr>
        <td class=".color2"></td>
        <td class=".color1"></td>
        <td class=".color2"></td>
        <td class=".color1"></td>
        <td class=".color2"></td>
        <td class=".color1"></td>
        <td class=".color2"></td>
        <td class=".color1"></td>
        </tr>
    </table>
    
    </body>
</html>
